# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/lwip_refactor/v16/Browse.VC.db
.vs/lwip_refactor/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
out/*
.vs/lwip_refactor/v16/Browse.VC.db
.vs/lwip_refactor/v16/Browse.VC.db
*.db
.vs/lwip_refactor/v16/Browse.VC.opendb
.vs/lwip_refactor/v16/ipch/AutoPCH/160e5caa70241d9a/PCAPIF_HELPER.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/232213d03f85a499/TCP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/232213d03f85a499/TCP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/24b4bacf78c1326b/LWIP_SOCKET.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/2c5ca880b2079503/PCAPIF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3aa23860d5b703cb/MEMP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3b8e73a2259a0bd4/ETHARP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3bf2f38986ba9416/LWIP_SOCKETS.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3f1b8d1596ba0ce7/PBUF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/47d5a3bf568181de/NETIF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/4933260d7584cd3d/PPP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/550daf52bce35259/DHCP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/578889aa31aa57e0/TCP_OUT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/8c2bc0e6fc8b0469/TCP_IN.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/908cb2df0a25528/SYS_ARCH.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/96d0bf82e1d62684/FORMAT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/9829c6241f42c25b/SIO.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/985ee158a7f5206c/INIT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/9d5a3705cb75454f/IP4_ADDR.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/a96ed3e6338f8aad/WINSOCK.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/aeca6ab67d7772a9/DEF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/dc0945c5e14e93e7/UDP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/fc404327bd66ea6e/TIMEOUTS.ipch
.vs/lwip_refactor/v16/Browse.VC.db
.vs/lwip_refactor/v16/ipch/AutoPCH/232213d03f85a499/TCP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/2c5ca880b2079503/PCAPIF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3aa23860d5b703cb/MEMP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3f1b8d1596ba0ce7/PBUF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/47d5a3bf568181de/NETIF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/4933260d7584cd3d/PPP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/550daf52bce35259/DHCP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/578889aa31aa57e0/TCP_OUT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/8c2bc0e6fc8b0469/TCP_IN.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/908cb2df0a25528/SYS_ARCH.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/96d0bf82e1d62684/FORMAT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/9829c6241f42c25b/SIO.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/985ee158a7f5206c/INIT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/9d5a3705cb75454f/IP4_ADDR.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/a96ed3e6338f8aad/WINSOCK.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/aeca6ab67d7772a9/DEF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/dc0945c5e14e93e7/UDP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/fc404327bd66ea6e/TIMEOUTS.ipch
*.ipch
*.db
.vs/lwip_refactor/v16/.suo
.vs/lwip_refactor/v16/Browse.VC.db
.vs/lwip_refactor/v16/ipch/AutoPCH/232213d03f85a499/TCP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/2c5ca880b2079503/PCAPIF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3aa23860d5b703cb/MEMP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3f1b8d1596ba0ce7/PBUF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/47d5a3bf568181de/NETIF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/4933260d7584cd3d/PPP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/550daf52bce35259/DHCP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/578889aa31aa57e0/TCP_OUT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/8c2bc0e6fc8b0469/TCP_IN.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/908cb2df0a25528/SYS_ARCH.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/96d0bf82e1d62684/FORMAT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/9829c6241f42c25b/SIO.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/985ee158a7f5206c/INIT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/9d5a3705cb75454f/IP4_ADDR.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/a96ed3e6338f8aad/WINSOCK.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/aeca6ab67d7772a9/DEF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/dc0945c5e14e93e7/UDP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/fc404327bd66ea6e/TIMEOUTS.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/lwip_refactor/v16/ipch/AutoPCH/1b6e1d5bcd32a597/PBUF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/1f693fb09ca1a436/IP4_FRAG.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/215d9d44e726a55f/BRIDGEIF_FDB.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/232213d03f85a499/TCP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/2a1cb6b9d0e7a29e/NETIF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/2be696c22d0af4e3/LOWPAN6.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/2c5ca880b2079503/PCAPIF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3aa23860d5b703cb/MEMP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3bf31d1223dd3375/TCP_MD5.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3dd93ef4ff32ae80/AUTOIP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3f1b8d1596ba0ce7/PBUF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/4427c5c0f824414b/MEM.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/45f21926b6783d8b/IP4.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/4690ffc5fdee831/UTILS.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/47d5a3bf568181de/NETIF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/4933260d7584cd3d/PPP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/4be7d4470e0ac757/STATS.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/4ef2282269838951/BRIDGEIF_FDB.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/550daf52bce35259/DHCP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/578889aa31aa57e0/TCP_OUT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/5f3bac9cd6ff8b2a/IF_API.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/7f264983247364c9/ICMP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/7fad32819d8b4332/EAP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/80a63cf907a068e4/INET_CHKSUM.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/85fb86fa8587d72c/INIT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/8c2bc0e6fc8b0469/TCP_IN.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/901b319beb8f9f76/IP4_FRAG.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/908cb2df0a25528/SYS_ARCH.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/96d0bf82e1d62684/FORMAT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/978c470b06c12e47/WINDOWS.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/9829c6241f42c25b/SIO.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/985ee158a7f5206c/INIT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/994569833b7e9839/DEF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/9d5a3705cb75454f/IP4_ADDR.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/a22cf93005385929/LOWPAN6_COMMON.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/a3a86ac084fa0e6c/SOCKETS.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/a601cc3e8d3bda01/DEMAND.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/a657520c5744130f/SLIPIF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/a8e243b5a47721cf/IP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/a96ed3e6338f8aad/WINSOCK.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/aeabafb950aa3513/NETDB.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/aeca6ab67d7772a9/DEF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/b32bba929155a9b0/BRIDGEIF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/b83a5ddb59405cbe/BRIDGEIF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/b93ebdf081964a38/MAKEFSDATA.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/bd2f7ba5e8d5f1a9/DHCP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/da8b80020af03d14/ETHARP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/dab0e2020b0fffd7/ETHARP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/dc0945c5e14e93e7/UDP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/e0ab2f72ccdb36ec/SYS_ARCH.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/e15778bb291c91c7/MULTILINK.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/e252be268ef30f79/PBUF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/e3672c6fc617ad27/ERR.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/e3fc8237e39b8a99/ETHARP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/e5a7e617f7961ec6/AUTH.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/e78c77390c53ceaf/LOWPAN6_BLE.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/ef8b31ea7e18f868/IP4_FRAG.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/fc404327bd66ea6e/TIMEOUTS.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/fe63f11f5f6aec1c/ALTCP.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
