# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.suo
*.sqlite
.vs/VSWorkspaceState.json
VSWorkspaceState.json
out/*
*.ipch

.vs/lwip_refactor/v16/Browse.VC.opendb
.vs/slnx.sqlite-journal
.vs/lwip_refactor/config/applicationhost.config
.vs/lwip_refactor/v16/.suo~41c519c7d6b6b61a29ad4efa59cc2dd342623202
.vs/5cns/v16/Browse.VC.opendb
.vs/lwip_refactor/config/applicationhost.config
.vs/lwip_refactor/v16/.suo~41c519c7d6b6b61a29ad4efa59cc2dd342623202
.vs/ProjectSettings.json
cmake-build-debug/*
.idea/*
.vs/net_loom/v16/Browse.VC.opendb
build/CMakeFiles/net_loom.dir/net_loom.pdb
