# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/lwip_refactor/v16/Browse.VC.db
.vs/lwip_refactor/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
out/*
.vs/lwip_refactor/v16/Browse.VC.db
.vs/lwip_refactor/v16/Browse.VC.db
*.db
.vs/lwip_refactor/v16/Browse.VC.opendb
.vs/lwip_refactor/v16/ipch/AutoPCH/160e5caa70241d9a/PCAPIF_HELPER.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/232213d03f85a499/TCP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/232213d03f85a499/TCP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/24b4bacf78c1326b/LWIP_SOCKET.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/2c5ca880b2079503/PCAPIF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3aa23860d5b703cb/MEMP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3b8e73a2259a0bd4/ETHARP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3bf2f38986ba9416/LWIP_SOCKETS.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/3f1b8d1596ba0ce7/PBUF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/47d5a3bf568181de/NETIF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/4933260d7584cd3d/PPP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/550daf52bce35259/DHCP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/578889aa31aa57e0/TCP_OUT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/8c2bc0e6fc8b0469/TCP_IN.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/908cb2df0a25528/SYS_ARCH.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/96d0bf82e1d62684/FORMAT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/9829c6241f42c25b/SIO.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/985ee158a7f5206c/INIT.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/9d5a3705cb75454f/IP4_ADDR.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/a96ed3e6338f8aad/WINSOCK.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/aeca6ab67d7772a9/DEF.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/dc0945c5e14e93e7/UDP.ipch
.vs/lwip_refactor/v16/ipch/AutoPCH/fc404327bd66ea6e/TIMEOUTS.ipch
